@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#map{
    height: 500px;
    width: 100%;
}

.container{
    text-align: center;
    padding: .8em 1.2em;
}

.logo{
    width: 140px;
    margin-top: -1.5em ;
}

header{
    display: flex;
    justify-content: space-between;
}

.gray_container{
    background-color: #fff;
    padding: 4em 0 2em;
    font-weight: bold;
    margin-bottom: 10%;
}

.cta0{
    margin-bottom: 4%;
}

.cta1{
    background-color: lightseagreen;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    margin-right: 4%;
    width: calc(20% - 3em);
    text-decoration: none;
    margin-top: 2em;
    display: inline-block;
}

.cta2{
    background-color: lightseagreen;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: .5em;
    margin-left: 4%;
    width: calc(20% - 3em);
    text-decoration: none;
    margin-top: 2em;
    display: inline-block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer_container{
    margin-top: 10%;
    width: 100%;
    background-color: #d0d9e0;
    padding: 3em 0;
}

ul.footer_links li{
    display: inline-block;
    text-decoration: none;
    color: black;

}

ul.footer_links li a{ 
   text-decoration: none;
   color: rgb(0, 0, 0);
   
   
}   
ul.footer_links li{
    margin: 1em 3em;
}

ul.footer_links li:first-child:hover{
   font-weight: bold;
   background-color: lightgray;
   
}

ul.footer_links li:nth-child(2):hover{
   font-weight: bold;
   background-color: lightgray;
}

.scroll{
    size: 10%;
    animation: move 1s infinite alternate;
    margin-top: 10%;
    margin-bottom: 10%;
}

@keyframes move {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(20px);
    }
    
}

.mapTop{
    margin-bottom: 2.5em;
    font-weight: bold;
}

.navid{
    width: 10%;
    
}