@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}



.container{
    text-align: center;
    padding: .8em 1.2em;
}

.logo{
    width: 140px;
    margin-top: -1.5em ;
}

header{
    display: flex;
    justify-content: space-between;
}



.footer_container{
    margin-top: 10%;
    width: 100%;
    background-color: #d0d9e0;
    padding: 3em 0;
}

ul.footer_links li{
    display: inline-block;
    text-decoration: none;
    color: black;

}

ul.footer_links li a{ 
   text-decoration: none;
   color: rgb(0, 0, 0);
   
   
}   
ul.footer_links li{
    margin: 1em 3em;
}

ul.footer_links li:first-child:hover{
   font-weight: bold;
   background-color: lightgray;
   
}

ul.footer_links li:nth-child(2):hover{
   font-weight: bold;
   background-color: lightgray;
}

.text{
    margin: 10%;
    margin-top: 0%;
}

.main{
    text-align: left;
}



.navid{
    width: 10%;
    
}