@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

p, blockquote{
    font-size: .9em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding: .8em 1.2em;
}
 .logo{
     width: 140px;
     margin-top: -1.5em ;
 }

 header{
     display: flex;
     justify-content: space-between;
 }

 .hide_mobile{
     display: none;
 }

 .menu{
     width: 25px;
     margin-top: .6em;
 }

 .foto{
     width: 98%;
     margin-bottom: 10%;
     margin-top: 10%;
 }

 .gray_container{
     background-color: #F6F6F6;
     padding: 4em 0 2em;
     font-weight: bold;
     margin-bottom: 10%;
 }

 .gray_container ul li:first-child{
     margin-bottom: 2em;

 }

 .arthur{
     width: 10%;
 }
 
 .michael{
    width: 10%;
}
 
 figure{
     margin: 0;
     padding: 0;
 }

 figcaption{
     font-weight: bold;
     color: lightseagreen;
 }

 h2{
     margin-top: 7%;
 }

 .cta{
     background-color: lightseagreen;
     width: calc(70% - 2em);
     display: block;
     color: #fff;
     border-radius: 20px;
     padding: .5em;
     margin-left: 18%;
     text-decoration: none;
 }

 .footer_container{
     margin-top: 10%;
     width: 100%;
     background-color: #d0d9e0;
     padding: 3em 0;
 }

 ul.footer_links li{
     display: inline-block;
     text-decoration: none;
     color: black;

 }

 ul.footer_links li a{ 
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    
 }   
 ul.footer_links li:first-child{
     margin: 1em 3em;
 }

 ul.footer_links li:nth-child(2){
    margin: 1em 3em;
}

nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: #F6F6F6;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 1em 2em;
    background-color: rgb(52,59, 63);


}

nav ul li a:hover{
    background-color: rgb(65, 73, 78);
}

.exit_btn{
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit_btn img{
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 650px) {
    .fotos{
        width: 50%;
    }

    .gray_container ul li:first-child{
        margin-bottom: 2em;
        margin-top: -1%;
   
    }

    .arthur{
        width: 7%;
    }

    h3{
        font-size: 3em;
        margin: 0;
    }

    .gray_container ul{
        display: flex;
    }

    nav ul{
        width: 40%;
    }

}

@media only screen and (min-width: 875px) {
    .gray_container ul{
        margin: 4% 0 0;
    }

    .cta{
       
        width: calc(20% - 2em);
        border-radius: 20px;
        padding: .5em;
        margin-left: 0;
        text-decoration: none;
        display: inline-block;
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    .show_desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide_desktop{
        display: none;
    }

    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li{
        float: left;
    }

    nav ul li a{
        color: black;
        background-color: inherit;
        text-align: right;
    }

    nav ul li a:hover{
        background-color: inherit;
    }

    .scroll{
        size: 10%;
        animation: move 1s infinite alternate;
        margin-top: 10%;
    }

    @keyframes move {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(20px);
        }
        
    }
}    